<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">新規投稿</h5>
      <div class="form-body p-4">
        <% if @article.errors.any? %>
          <%= @article.errors.count %>件のエラーが発生しました
          <% @article.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        <%= form_with model: @article, local:true do |f| %>
        <tr>
          <td>
            <h6>写真</h6>
              <%= f.attachment_field :image, class: "w-100" %>
          </td>
          <td>
            <h6>ジャンル</h6>
              <%= f.collection_select :genre_id, Genre.all, :id, :name,{ prompt: "--選択してください--" } %>
          </td>
          <!--<td>-->
          <!--  <h6>シーズン</h6>-->
          <!--    <%#= f.collection_select :season_id, Season.all, :id, :name,{ prompt: "--選択してください--" } %>-->
          <!--</td>-->
          <td>
            <h6>キャプションを書く</h6>
            <%= f.text_area :caption, class:"form-control", rows:"3" %>
          </td>
        </tr>
          <%= f.submit 'シェア' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

