<div class="profile-container w-75 d-flex mx-auto justify-content-around align-items-center border-bottom py-5">
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class:"rounded-circle"; %>
    <span>
      <strong><%= @user.name %></strong>
    </span>
    <span>フォロワー
      <%= link_to user_followers_path(@user) do %>
        <%= @user.followers.count %>
      <% end %>
    </span>
    <span>フォロー中
      <%= link_to user_followings_path(@user) do %>
        <%= @user.followings.count %>
      <% end %>
    </span>
    <% if @user == current_user %>
    <span>お気に入り
      <%= link_to user_myfavorites_path(@user) do %>
        <%= @user.favorites.count %>
      <% end %>
    </span>
    <% end %>
    <div>
      <% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-outline-secondary btn-block" %></p>
      <% end %>
    </div>
    <div>
      <%= @user.caption %>
    </div>
</div>


<%= render 'articles/list', articles: @articles %>
